
html,body {

   height: 100%;
   width: 100%;

}

body {

   background-image: url('/static/bg.png');
   background-size: 100%;
   background-repeat: no-repeat;
   margin:0;
   padding:0;
}



.menu {
    text-align: center;
    margin-top: 60px;
    margin-left: 60px;
    height: 200px;
    width: 150px;
    background-color:rgba(255, 255, 255, 0.6);

}
.menu div {
  height: 20%;
  font-family: Gill Sans, Verdana;
  font-size: 14px;
  line-height: 37px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: lighter;
}


