<!doctype html>
<html xmlns="http://www.w3.org/1999/html">

<head>
        <meta charset="utf-8"/>
        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type=text/javascript src="{{ url_for('static', filename='muhw.js') }}"></script>
        <link rel="stylesheet" type="text/css" media="screen" href="/static/home.css" />
</head>


<body>



<div id="bar" class="bar"></div>
<div onclick="home();" class="em">M</div>

<div id="menubox" class="menu">

	<div onclick="music();">Music</div>
	<div onclick="shows();">Shows</div>
	<div>Sights</div>
	<div>Merch</div>
	<div>Words</div>    
</div>

<div id="content" class="content">

</div>

</body>
</html>